[Unit]
Description=Zephyr Ethernet device for POSIX Simulation
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/zeth/net-setup.sh start
ExecStop=/opt/zeth/net-setup.sh stop

[Install]
WantedBy=default.target
